.navTop {
    padding: 0;
    height: 4rem;
}

#navContainer {
    background-color: #eee;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#logo{
    font-family:  'Yeseva One', cursive;
}